@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  box-sizing: border-box;
  font-family: "Inter", "Segoe UI", Geneva, sans-serif;
  margin: 0;
}

body {
  background: #1c1b22;
  color: #fff0f0;
}

.container {
  margin: 1rem auto;
  width: 100vw;
}

.header__container {
  margin-top: 4rem;
}

.header__container,
.entry__emotions,
.entry__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  font-size: 2rem;
}

.entry__emotions {
  flex-wrap: wrap;
}

.entry__emotions,
.entry__item-content {
  flex-direction: column;
}

.entry__emotions-label {
  display: flex;
  justify-content: center;
}

.entry__emotions-list {
  display: flex;
  padding: 0.4rem 0.6rem;
}

.emotions__list-item {
  margin: 0.6rem 1rem;
}

.emotions__list-item label {
  color: #c94e03;
  font-size: 0.96rem;
  margin-left: 0.6rem;
}

.entry__content input[type="text"] {
  background: transparent;
  border: #333a46 solid 2px;
  color: #fff0f0;
  font-size: 1.2rem;
  width: 320px;
}

.entry__content input[type="text"],
.entry__content input[type="submit"] {
  border-radius: 0.6rem;
  padding: 0.4rem 0.8rem;
  outline: none;
  transition: all 500ms ease-in-out;
}

.entry__content input[type="text"]:hover {
  background: #333a4610;
}

.entry__content input[type="submit"] {
  background: #fab462;
  border: transparent solid 2px;
  color: #1c1b22;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.8rem;
  width: 80px;
}

.entry__content input[type="submit"]:hover {
  background: transparent;
  border: #fab462 solid 2px;
  color: #fab462;
}

.entry__content input[type="submit"]:active {
  border: none;
  color: #fff0f0;
}

.blog__entries {
  display: flex;
  flex-direction: column;
  border-radius: 0.6rem;
  margin: auto;
  margin-top: 4rem;
  max-height: 384px;
  width: 448px;
  overflow: scroll;
}

.blog__entries-message {
  text-align: center;
}

.blog__entry-item {
  display: flex;
  gap: 0.8rem 1.2rem;
  align-content: flex-start;
  margin: 1rem;
}

.entry__item-img img {
  width: 80px;
}

.entry__item-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.4rem 0.8rem;
}

.entry__item-emotion {
  color: #c94e03;
  font-size: 0.92rem;
  /* font-style: italic; */
}

.entry__item-datetime {
  color: #fff0f0b0;
  font-size: 0.72rem;
  font-style: italic;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 0.86rem;
  font-weight: 300;
  text-decoration: underline;
}

.top-left a {
  color: #fff0f0;
}
